ul,
li,
body,
img,
input {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	font-size: 14px;
}

a {
	color: #565656;
	text-decoration: none;
}

.top_1 {
	height: 30px;
	background-color: #eee;
	width: 1190px;
	margin: 0 auto;
}

.top_1 li {
	float: left;
	margin: 0 5px;
	line-height: 30px;
	font-size: 12px;
}

.tp_li_2 {
	float: right;
}

#top2 {
	background: #fff;
	width: 100%;
	height: 100px;
}

.top_2 {
	width: 1190px;
	height: 100px;
	margin: 0 auto;
	background: #fff;
}

.top_2 div {
	float: left;
}

#logo {
	width: 242px;
	height: 70px;
	margin: 10px 0 0 0;
}

.search {
	width: 800px;
	height: 100px;
	margin-left: 120px;
	position: relative;
}

.search input {
	float: left;
	border: 3px solid #e83632;
	margin: 30px 0 0 0px;
	font-size: 18px;
}

.search .text_1 {
	width: 400px;
	height: 34px;
	color: #CECECE;
	padding-left: 10px;
	font-size: 14px;
}

.search .btn_1 {
	width: 80px;
	height: 40px;
	background-color: #E83632;
	color: #fff;
	font-weight: 550;
}

.search .bwzj {
	position: absolute;
	right: 0px;
	width: 120px;
	height: 40px;
	border: 1px solid #E83632;
	font-size: 13px;
	color: #E83632;
	font-weight: 550;
	background: #fff;
}

#nav {
	height: 45px;
	margin-bottom: 10px;
}

.nav1 {
	width: 1190px;
	height: 45px;
	margin: 0 auto;
	background: #e83632;
}

.nav1 li {
	float: left;
	line-height: 45px;
	padding: 0 15px;
	background: #E83632;
	color: #fff;
	font-weight: 550;
	font-size: 16px;
	cursor: pointer;
	letter-spacing: 1px;
}

.nav1 .teshu {
	float: right;
}

.nav1 li a {
	color: #fff;
}

.nav1 li:hover {
	background: #b80602;
}

.yl_allabove {
	width: 1170px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	background: #f3f3f3;
	border-top: none;
	line-height: 22px;
	font-size: 12px;
}

.yl_allabove a {
	padding: 0 2px;
	box-sizing: border-box;
}
.input .hotinput{
	height: 39px;
}

/*最底部css*/

.footdibu {
	width: 100%;
	height: 200px;
	background: #3f3e3e;
}

.foot {
	width: 1190px;
	height: 200px;
	margin: 0 auto;
	background: #3f3e3e;
	position: relative;
}

.foot ul {
	width: 1190px;
	height: 40px;
	color: #fff;
}

.foot li a {
	color: #fff;
}

.foot li {
	font-size: 12px;
	float: left;
	width: 100px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}

.bqdiv {
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	padding-left: 20px;
	color: #cccaca;
}

.footpic {
	margin-top: 16px;
	padding-left: 20px;
	color: #fff;
}

.footpic li {
	float: left;
	margin: 0 10px;
	color: #fff;
}

.wxdiv {
	width: 260px;
	position: absolute;
	left: 800px;
	top: 30px
}

.wxdiv ul {
	width: 400px;
}

.wxdiv li {
	width: 130px;
	margin-right: 50px;
	font-size: 12px;
	line-height: 30px;
	color: #fff;
	text-align: left;
}

.wxdiv li img {
	width: 100px;
}