body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,header,footer,section,img,figcaption,figure,i,span{margin:0;padding:0}
a{color:#fff;text-decoration:none}
a:hover{color:#000000;text-decoration:none}
em,i{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle;display: block;}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

body{
	background: #991f23;
}
.wrap{
	width: 1190px;
	margin: auto;
	background: #fff;
	overflow: auto;
	margin-bottom: 10px;
}
.main-wrap{
	width: 100%;
}
/*banner图*/
.banner{
	width: 800px;
	height: 300px;
	float: left;
}
.banner img{
	width: 800px;
	height: 300px;
}
.pic {
	width: 800px;
	height: 300px;
	overflow: hidden;
}
.pic ul li {
	width:800px;
	height: 300px;
	position: relative;
}
.news{
	width: 390px;
	height: 300px;
	background: #000;
	float: left;
}
.news ul{
	margin: 20px;
}
.news li{
	font-size: 14px;
	line-height: 30px;
}
.news li a:hover{
	color: #991f23;
	text-decoration: underline;
}
.news li span{
	float:right;
	font-size: 12px;
	color: #cecece;
}
.information{
	float: left;
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
}
/*标题*/
.information-title{
	width: 100%;
	background: #F0F0F0;
	overflow: hidden;
}
/*标题前边的竖线*/
.information-title span{
	display: block;
	width: 10px;
	height: 40px;
	background: red;
	float: left;
}
/*h2*/
.information-title h2{
	height: 40px;
	line-height: 30px;
	background: #fe7464;
	width: 130px;
	color: #fff;
	padding: 5px;
	text-align: center;
	float: left;
	font-weight: normal;
}
/*标题后边的更多*/
.information-title a{
	float: right;
	line-height: 40px;
	color: #767676;
	font-size: 14px;
}
.information-title a strong{
	display: block;
	float: right;
	width: 15px;
	height: 15px;
	border: 1px solid #cecece;
	border-radius: 50%;
	text-align: center;
	line-height: 15px;
	margin: 10px 5px 0;
}
/*分栏*/
.information-main{
	width: 336px;
	height: 160px;
	float: left;
	margin:10px 10px ;
	overflow: hidden;
}
.information-main ul{
	margin-top: 10px;
}
.information-main li{
	font-size: 14px;
	line-height: 30px;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.information-main li:hover{
	color: #991f23;
	text-decoration: underline;
}
.label li{
	line-height: 0px;
	height: 10px;
	background: #cecece;
	float: left;
	width: auto;
	margin: 10px;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
}
/*第一栏的小框 放一张图片和对应的文字*/
.new-if{
	width: 340px;
	height: 100px;
	background: #CECECE;
	padding: 10px;
}
.new-if img{
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 20px;
}
.new-if p{
	font-size: 14px;
	width: 59%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.new-if p:last-of-type{
	font-size: 12px;
	text-indent: 2em;
	margin-top: 30px;
}
/*左侧占三分之二*/
.company-news-left{
	float: left;
	width:790px;
}
/*右侧三分之一*/
.company-news-right{
	float: right;
	width: 400px;
	height: 260px;
}
.company-news{
	width: 590px;
	float: left;
}
.company-news .information-main li{
	width: 260px;
}
.company-ad{
	float: right;
	margin-right: 0;
}
.company-ad .new-if p,.company-ad-left .new-if p{
	width: 64px;
}
.company-news .information-main{
	width: 39%;
}
.company-news .new-if{
	width: 80%;
}
.dynamic{
	width: 790px;
}
.dynamic .information-main{
	width: 42%;
}
.notice li{
	width: 90%;
	margin: auto;
	background: #cecece;
	height: 69px;
	margin-bottom: 10px;
	font-size: 14px;
	padding: 3px;
}
.notice li span{
	float: left;
	width: 100px;
	display: block;
	margin-top: 5px;
	text-align: center;
	line-height: 30px;
	margin-right: 10px;
}
.notice li span i{
	height: 30px;
	background: yellowgreen;
	display: block;
}
.notice li span strong{
	display: block;
	height: 30px;
	background: green;
}
.notice li a{
	display: block;
	font-size: 12px;
	width: 61%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.notice li a:hover{
	color: #991f23;
	text-decoration: underline;
}
.notice li em{
	font-size: 12px;
	display: block;
}
.information-Extension .information-main{
	width: 20%;
	background: red;
	padding: 0;
	width: 280px;
}
.information-Extension{
	margin-bottom: 10px;
}
.information-Extension img{
	width: 100%;
	height: 100%;
}
.footer-banner{
	position: relative;
	width: 1200px;
	overflow: hidden;
	height: 200px;
}
.footer-banner li{
	width: 280px;
	float: left;
	height: 200px;
	margin: 10px;
}
